<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <style>
            .globalstyle {
                width:830px;
                font-family:'Droid Sans';
                font-size:10pt;
                font-weight:400;
                font-style:normal;
                text-indent:0px;
                white-space: normal;
                vertical-align: middle;
            }
            .logostyle{
                text-align:center;
            }
            .addrtext {
                 font-style:italic;
                 text-align: right;
            }
            .headertext {
                font-family:'Droid Serif';
                font-size:13pt;
                text-align: center;
            }
            .boldtext {
                font-weight:600;
            }
            .tablestyle{
                border-color:#000000;
                text-align:center;
                margin-left:auto;
                margin-right:auto;
            }
            .signstyle{
                white-space: pre-wrap;
            }
            .centeralign{
                text-align: center;
            }
            .leftalign{
                text-align: left;
            }
            .rightalign{
                text-align: right;
            }
        </style>
        <title>{{header}}</title>
    </head>
    <body class="globalstyle">
        <div class="logostyle"><img src="../../../logo2.png" alt="logo" height="70"></div>
        <div class="addrtext">{{{adr}}}</div>
        <div class="addrtext">{{tel}}</div>
        <div>
            <img src="../../../depimages/3.png" alt="ved3" height="45">
            <img src="../../../depimages/6.png" alt="ved6" height="45">
            <img src="../../../depimages/7.png" alt="ved7" height="45">
        </div>
        <div class="headertext">{{header}}</div>
        <div class="leftalign"><span class="boldtext">{{tutitle}}</span>{{tustr}}</div>
        {{{maintbl}}}
        <br>
        {{{chemtbl}}}
        <br>
        {{{mechtbl}}}
        <div class="headertext">{{srtheader}}</div>
        {{{serttbl}}}
        <div class="leftalign">Одобрено РРР по категории 2.</div>
        <div class="boldtext">Грузополучатель:</div>
        <div class="leftalign">ООО &quot;Компания Экотех&quot;</div>
        <div class="centeralign">При переписке по вопросам качества просьба ссылаться на номер партии</div>
        <div class="boldtext">Заключение:</div>
        <div class="leftalign">соответствует ГОСТ 9466-75, ГОСТ 9467-75, ТУ 1272-001-50133500-2015</div>
        <div class="centeralign"><span class="boldtext">Дата выдачи сертификата: </span>07.09.2023</div>
        <div class="signstyle"><img src="../ship/12654/qr.png" alt="qrcode" height="150">                                                       Начальник ОТК ______________ А.В.Чистякова</div>
    </body>
</html>
