<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <style>
            .globalstyle {
                width:830px;
                font-family:'Droid Sans';
                font-size:10pt;
                font-weight:400;
                font-style:normal;
                text-indent:0px;
                white-space: normal;
                vertical-align: middle;
                {{{back}}}
            }
            .logostyle{
                text-align:center;
            }
            .addrtext {
                 font-style:italic;
                 text-align: right;
            }
            .headertext {
                font-family:'Droid Serif';
                font-size:13pt;
                text-align: center;
            }
            .boldtext {
                font-weight:600;
            }
            .tablestyle{
                border-color:#000000;
                text-align:center;
                margin-left:auto;
                margin-right:auto;
            }
            .signstyle{
                white-space: pre-wrap;
                text-align: left;
            }
            .centeralign{
                text-align: center;
            }
            .leftalign{
                text-align: left;
            }
            .rightalign{
                text-align: right;
            }
        </style>
        <title>{{header}}</title>
    </head>
    <body class="globalstyle">
        <div class="logostyle"><img src="/logo2.png" alt="logo" height="70"></div>
        <div class="addrtext">{{{adr}}}</div>
        <div class="addrtext">{{tel}}</div>
        <div>
            {{{sertpic}}}
        </div>
        <div class="headertext">{{header}}</div>
        <div class="leftalign"><span class="boldtext">{{tutitle}}</span>{{tustr}}</div>
        {{{maintbl}}}
        <br>
        {{{chemtbl}}}
        <br>
        {{{mechtbl}}}
        <div class="headertext">{{srtheader}}</div>
        {{{serttbl}}}
        <div class="leftalign">{{{sertapp}}}</div>
        <div class="boldtext">{{poltitle}}</div>
        <div class="leftalign">{{{pol}}}</div>
        <div class="centeralign">{{{note}}}</div>
        <div class="boldtext">{{constitle}}</div>
        <div class="leftalign">{{{cons}}}</div>
        <div class="centeralign"><span class="boldtext">{{dattitle}}</span>{{dat}}</div>
        <div class="signstyle"><img src="{{qrsrc}}" alt="qrcode" height="150">{{{sign}}}</div>
    </body>
</html>
